body{
margin:0;
font-family:'Inter',sans-serif;
background:#f3f4f6;
color:#1f2937;
}

h1,h2{
font-family:'Poppins',sans-serif;
}

.section{
padding:80px 8%;
}

.gray{
background:#eef2f7;
}

/* NAVBAR */

.navbar{
background:#1f2937;
color:white;
padding:15px 20px;
position:sticky;
top:0;
}

.nav-container{
max-width:1200px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

.back-btn{
background:white;
border:none;
padding:8px 15px;
border-radius:8px;
cursor:pointer;
}

/* HERO */

.hero{
background:#1f2937;
color:white;
text-align:center;
padding:70px 20px;
}

/* GRID */

.design-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:40px;

}

.design-grid img{

width:100%;
border-radius:12px;
transition:0.4s;
box-shadow:0 8px 20px rgba(0,0,0,0.08);

}

.design-grid img:hover{

transform:scale(1.08);
box-shadow:0 20px 40px rgba(0,0,0,0.25);

}

/* FOOTER */

footer{
background:#1f2937;
color:white;
text-align:center;
padding:25px;
}

/* RESPONSIVE */

@media(max-width:900px){

.design-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:500px){

.design-grid{

grid-template-columns:1fr;

}

}